body{
    background-color: darksalmon;
    font-family:'Courier New', Courier, monospace;

}
.heading{
    width: 80%;
    font-size: 22px;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}